[hidden] {
  display: none !important;
}

html{
    background-color: #50586D;
    color: white;
}
input,
.btn{
    box-sizing: border-box;
    display: block;
    color: black;
    margin: 5px 0px;
    background-color: #E19346;
    font-size: 15px;
}

.btn:hover{
    transform: scale(1.2);
}

.btn:active{
    transform: scale(1.5);
    color: rgb(255, 255, 255);
    background-color: #f14d4d;
}

#result{
    display: block;
    margin: 10px 10px;
}

.container{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 10px;
    padding: 7px;
    background-color: #4693E1;
    border: 2px solid #E19346;
    /* width: 360px;
    height: 130px; */
}

#page{
    width: 550px;
    height: auto;
    object-fit: contain;
}

.retro95 {

    border: none;

    font-family: 'MS Sans Serif', 'Courier New', monospace;

    
    /* Главная фишка - объёмная рамка */
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    
    /* Резкая тень снаружи */
    box-shadow: 1px 1px 0px 0px black;
}