<header class="header">
    <a href="html.html" class="logo-link">
        <div class="logo-area">
            <div class="logo-icon">
                <img src="images/logo.png" alt="Логотип КФУ" class="logo-img">
            </div>
            <div class="library-name">
                <h1>Библиотека КФУ</h1>
                <small>Онлайн‑каталог</small>
            </div>
        </div>
    </a>

    <nav class="header-nav">
        <a href="#" class="active">Главная</a>
        <a href="#">О нас</a>
        <a href="contacts.html">Контакты</a>
        <a href="../profile.html">Личный кабинет</a>
    </nav>

    <div class="user-actions">
        <a href="login.html" class="btn-outline">Вход</a>
        <a href="login.html#register" class="btn-primary">Регистрация</a>
    </div>
</header>